.nav-tabs .nav-link {
}

.nav-tabs .nav-link {
  float: right;
}

.h1, h1 {
}

.h1, h1 {
}

.text-center {
  margin-top: 10px;
}

#img1 {
  border: none;
  height: 60px;
  margin-bottom: 20px;
}

.col-sm-6.col-md-5.col-lg-4.item {
  margin-left: -65px;
  margin-right: 5px;
  max-width: 345px;
}

.box {
  margin-left: auto;
}

#2 {
}

.text-center {
  /*text-align: center!important;*/
  text-align: left;
}

#2 {
  text-align: left;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #b0cd3b;
  border-color: #b0cd3b;
}

.btn.btn-primary:hover {
  background-color: #1bbc9d;
  /*color: grey;*/
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled):hover {
  background-color: #1bbc9d;
}

.btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem #1bbc9d;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  background-color: #313338;
}

.btn-toolbar {
  /*margin-left: 269px;*/
  text-align: center!important;
  clear: both;
  max-width: 580px;
}

.btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child) {
  border-radius: -8px;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  padding-right: 9px;
  margin-right: 7px;
}

.btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child) {
  margin-right: 5px;
}

